<form class="user-form signup-form">
  <h1 class="page-title">Signup</h1>
  <div class="form-group">
    <label for="user-name-signup">User Name:</label>
    <input class="form-input" type="text" placeholder="User Name" id="first-name-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">Password:</label>
    <input class="form-input" type="password" name="password-signup" placeholder="Password" id="password-signup" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Signup</button>
  </div>
</form>