<div class="form-row justify-space-between-md">
  <div>
    <form class="user-form login-form">
      <h1 class="page-title">Login</h1>
      <div>
        <label for="email-login">Email:</label>
        <input type="text" placeholder="Email" id="email-login" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" placeholder="Password" id="password-login" />
      </div>
      <div>
        <button class="btn" type="submit">Login</button>
      </div>
    </form>
  </div>
  <img src="/images/logo.png" alt="a verticle cooking whisk" class="whisk-logo">
  <div>
    {{>signUp}}
  </div>
</div>